@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(
        315deg,
        #89d4cf 0%,
        #6e45e1 74%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.music-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(48, 77, 158, 0.6);
    display: flex;
    padding: 25px 35px;
    position: relative;
    margin: 110px 0;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 115px;
}

.img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 115px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 5s linear infinite;
    animation-play-state: paused;

}

.music-container.play .img-container img {
    animation-play-state: running;
} 

.music-info {

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: white;
    border: 0;
    color: rgba(0, 0, 139, 0.2);
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn.action-btn-big {
    color: rgba(0, 0, 139, 0.6);
    font-size: 40px;
}

.action-btn:focus {
    outline: 0;
}